<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/theme.css">
    <title>Audio</title>
</head>

<body>
    <div class="main-navbar-container">
        <span class="nav-brand">Shivkumar Hiteshkumar Patel</span>
        <ul class="main-navbar">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/audio">Audio</a></li>
            <li class="nav-item"><a href="/video">Video</a></li>
            <li class="nav-item"><a href="/table">Table</a></li>
            <li class="nav-item"><a href="/list">List</a></li>
            <li class="nav-item"><a href="/storefront">Store</a></li>
           
        </ul>
    </div>
    <section class="page">
        <h1>The Audio Page</h1>
  
  <h2>The Music Track</h2>
  <p>Listening to music is a popular and enjoyable hobby for many people.<br>Music is a subjective form of art, and everyone has their own unique preferences and tastes. <br>You might enjoy a specific genre like pop, rock, hip-hop, classical, jazz, country, electronic, or a combination of various genres.</p><br>
  
  <audio controls>
    <source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.mp3" type="audio/mpeg">
    <source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.ogg" type="audio/ogg">
    Your browser does not support the audio element.
  </audio><br>
  
  <p>You may listen to the included music track using the HTML5 audio player in this section. <br>
    Play, stop, and volume options are available on the audio player. <br>
    You will get a fallback warning if the audio element is not supported by your browser.</p>

</body>

</html>