<!DOCTYPE html>
<html>
    <head>
        <title>Shivkuma Hiteshkumar Patel</title>
        <link rel="stylesheet" href="../css/theme.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <!-- it is common to place the .js files at the end of the <body> tag as well -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        <!-- ... -->
    </head>
    <body>
      <nav class="navbar navbar-default navbar-static-top bg-light">
            <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Web322 A3</a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                <li><a href="./">Home</a></li>
                <li><a href="./storefront">Storefront</a></li>
                <li><a href="./audio">Audio</a></li>
                <li><a href="./list">List</a></li>
                <li class ="active"><a href="#">Table</a></li>
                <li><a href="./video">Video</a></li>
                </ul>
            </div>
            </div>
        </nav>
        <div class ="container">
        <h1>Welcome to the Table Page</h1>
  
  <h3>Price Listing and Employee Info Tables</h3>
  
  <table>
    <caption><strong>Table 1:Price List</strong> </caption>
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mangoes</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3</td>
        <td>$10.99</td>
      </tr>
      <tr>
        <td>Apples</td>
        <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2</td>
        <td>$5.99</td>
      </tr>
      <tr>
        <td>Oranges</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1</td>
        <td>$8.49</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Total</td>
        <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$25.47</td>
      </tr>
    </tfoot>
  </table>
  <br>
  <br>
  
  
  <table>
    <caption><b>Table 2: Employee Information</b></caption>
    <thead>
      <tr>
        <th rowspan="2">Employee</th>
        <th colspan="2">Contact</th>
      </tr>
      <tr>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John Doe</td>
        <td>&nbsp;&nbsp;&nbsp;john@example.com</td>
        <td>(555) 123-4567</td>
      </tr>
      <tr>
        <td>Jane Smith</td>
        <td>&nbsp;&nbsp;&nbsp;jane@example.com</td>
        <td>(555) 987-6543</td>
      </tr>
      <tr>
        <td>Mark John</td>
        <td>&nbsp;&nbsp;&nbsp;mark@example.com</td>
        <td>(555) 789-0123</td>
      </tr>
    </tbody>
  </table>
  
  
  <p>These tables display data in a tabular manner, making it simple to organise and interpret the information. The Employee Information table displays a list of workers along with their contact data, while the Price List table offers information on various goods, including the quantities and prices that relate to them.</p>    </body>
</html>
