<!DOCTYPE html>
<html>
    <head>
        <title>Shivkumar Hiteshkumar Patel</title>
        <link rel="stylesheet" href="../css/theme.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <!-- it is common to place the .js files at the end of the <body> tag as well -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        <!-- ... -->
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top bg-light">
            <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Web322 A3</a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                <li><a href="./">Home</a></li>
                <li><a href="./storefront">Storefront</a></li>
                <li><a href="./audio">Audio</a></li>
                <li><a href="./list">List</a></li>
                <li><a href="./table">Table</a></li>
                <li class ="active"><a href="#">Video</a></li>
                </ul>
            </div>
            </div>
        </nav>
        <div class ="container">
            <h1>Welcome to the Video Page</h1>
  
            <h2>Watch the Video</h2>
            
            <video controls>
              <source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/movie.mp4" type="video/mp4">
              <source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/movie.ogg" type="video/ogg">
              Your browser does not support the video element.
            </video>
            
            <p>This section includes an HTML5 video player that allows you to watch the provided video. The video player provides controls to play, pause, adjust the volume, and seek through the video. If your browser does not support the video element or the specified formats, you will see a fallback message.</p>
    </body>
</html>